@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  width: 300px;
  height: 400px;
}

/* input[type='text'] {
  background: url(./assets/user-circle.png) no-repeat scroll 7px 7px;
  padding-left:30px;
} */